{% extends 'base.html' %}

{% block title %}BOINC Cluster - Dashboard{% endblock %}
{% block content %}
<div class="container p-3">
    <div class="row pb-3">
        <div class="col-md-3">
            <div class="card border-0">
                <div class="card-body">
                    <div class="icon">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <h3>{{tasks|length}}</h3>
                    <p>Tasks</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <div class="card-body">
                    <div class="icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <h3>{{status|length}}</h3>
                    <p>Hosts</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <div class="card-body">
                    <div class="icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <h3>{{total_unique_projects}}</h3>
                    <p>Projects</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card border-0">
                <div class="card-body">
                    <h2 class="card-title">
                        {{tasks|length}}
                    </h2>
                    <p class="text-muted">
                        Total Tasks
                    </p>
                    <div id="tasks_donut"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.3.3/highcharts.js"
    integrity="sha512-8cJ3Lf1cN3ld0jUEZy26UOg+A5YGLguP6Xi6bKLyYurrxht+xkLJ9oH9rc7pvNiYsmYuTvpe3wwS6LriK/oWDg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    Highcharts.chart('tasks_donut', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            height: '25%',
            margin: [0, 0, 0, 0]
        },
        title: {
            text: ''
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true,
                startAngle: 90,
                innerSize: '85%'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            itemMarginTop: 5,
            itemMarginBottom: 5,
            verticalAlign: 'middle',
            labelFormat: '<span>{y}</span> <span style="opacity: 0.4; margin-left: 0.5rem;">{name}</span>',
            padding: 25,
            useHTML: true
        },
        series: [{
            name: 'Total Tasks',
            colorByPoint: true,
            data: [{% for status, total in task_totals_by_status.items() %}
            {
            name: '{{status}}',
            color: {% if status == 'Running' %}'#0000FF'{% elif status == 'Ready to start' %}'#999'{% else %}'#FF0000'{% endif %},
        y: {{ total }}
            },
        {% endfor %}]
    }]
});
</script>
{% endblock %}