{% extends 'base.html' %}

{% block content %}
<div class="container p-3 rounded bg-white mb-2">
    <div class="table-responsive">
        <table id="projects_table" class="table-sm table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Project</th>
                    <th>Account</th>
                    <th>Team</th>
                    <th>Work done</th>
                    <th>Avg. work done</th>
                    <th>Resource share</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{project.hostname}}</td>
                    <td>{{project.project_name}}</td>
                    <td>{{project.user_name}}</td>
                    <td>{{project.team_name}}</td>
                    <td>{{"{:,.0f}".format(project.host_total_credit)}}</td>
                    <td>{{"{:,.0f}".format(project.host_expavg_credit)}}</td>
                    <td>{{project.resource_share}}</td>
                    <td>{{project.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        let table = $('#projects_table').DataTable({"pageLength": 25});
    });
</script>
{% endblock %}