{% extends 'base.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table-sm table table-bordered table-hover">
        <thead>
            <tr>
                <th>Host</th>
                <th>Project</th>
                <th>Account</th>
                <th>Team</th>
                <th>Work done</th>
                <th>Avg. work done</th>
                <th>Resource share</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{project.hostname}}</td>
                <td>{{project.project_name}}</td>
                <td>{{project.user_name}}</td>
                <td>{{project.team_name}}</td>
                <td>{{"{:,.0f}".format(project.host_total_credit)}}</td>
                <td>{{"{:,.0f}".format(project.host_expavg_credit)}}</td>
                <td>{{project.resource_share}}</td>
                <td>{{project.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}